.app-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2em 1.5em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media (max-width: 720px) {
  .container {
    position: relative;
    column-count: 2 !important;
    column-gap: 0.5rem !important;
    padding: 50px !important;
  }

  .note {
    max-width: 100px;
  }
}

nav {
  display: flex;
  gap: 20px;
  align-self: flex-end;
}

.lower {
  background: rgb(0 0 0 / 38%) !important;
}

.welcome-container h2 {
  font-size: 20px;
  font-weight: 200;
}

.apps-modal-container {
  z-index: 20;
  position: absolute;

  right: 25px;
  top: 70px;
  background-color: white;
  height: 150px;
  width: 180px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid rgba(223, 222, 222, 0.855);
}

.modal-tip {
  position: absolute;
  background-color: #fff;
  width: 15px;
  height: 15px;
  right: 10px;
  top: -8px;
  transform: rotate(45deg);
  border-top: 1px solid #dadbdd;
  border-left: 1px solid #dadbdd;
}

.apps-modal-container ul {
  list-style-type: none;
  gap: 10px;
 justify-content: center;
}

.apps-modal-container i{
font-size: 32px;
}

.apps-icon {
  cursor: pointer;
  width: 45px;
}
