.welcome-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.welcome-container {
  padding: 8rem 10rem 4rem 8rem;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 50%;
}

.home-page {
  padding: 0px 100px 0px 100px;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
}

.welcome-btns {
  gap: 25px;
  display: flex;
}

.welcome-container h1 {
  color: #202124;
  margin: 0;
  font-size: 65px;
}

/* CSS */
.welcome-btns .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue',
    Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 30%;
}

.welcome-btns a:hover {
  background-color: #174ea6;
}

.welcome-btns .btn:disabled {
  cursor: default;
}

.welcome-btns .btn:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}
