/* we need to give grid layout */

.mail-index {
  font-family: 'googleRegular', sans-serif;
  display: grid;
  height: 90vh;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 0.3fr 1.5fr 1fr;
  grid-template-areas:
    'nav-bar search search'
    'nav-bar content content'
    'nav-bar content content';
}

.email-filter {
  grid-area: search;
}

.mail-folders {
  font-family: 'googleRegular', sans-serif;
  grid-area: 1 / 1 / 4 / 2;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #001d35;
  background: #f3f6fc;
}

.icon-folder {
  margin-left: 1em;
  opacity: 0.7;
}

.mail-folders span {
  margin-left: 10px;
}

.folder-preview-container {
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: 1em;
}

.folder-preview-container:hover {
  width: 90%;
  border-radius: 0 10px 10px 0;
  background-color: #e8e8e8;
}

.smallScreen {
  font-family: 'googleRegular', sans-serif;
  display: grid;
  height: 100vh;
  grid-template-columns: 0px 1fr 1fr;
  grid-template-rows: 0.3fr 2fr 1fr;
}
