/* we need to give grid layout */

.mail-index {
  font-family: 'googleRegular', sans-serif;
  display: grid;
  height: 90vh;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 0.3fr 1.5fr 1fr;
  grid-template-areas:
    'nav-bar search search'
    'nav-bar content content'
    'nav-bar content content';
}

.email-filter {
  grid-area: search;
}

.mail-folders {
  font-family: 'googleRegular', sans-serif;
  grid-area: 2 / 1 / 4 / 2;
  height: 86vh;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1.5em;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 20px;
  color: #001d35;
  background: #f3f6fc;
}

.mail-folders span {
  margin-left: 10px;
}

.folder-preview-container {
  display: flex;
  align-items: center;
  height: 30px;
}

.folder-preview-container:hover {
  border-radius: 5px;
  background: #e8e8e8;
}
