* {
  box-sizing: border-box;
}

html {
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: var(--clr4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
}

/* p {
  margin: 0 0 1em;
} */
a {
  text-decoration: none;
  color: unset;
}

i {
  cursor: pointer;
}

/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%;
}

/* tap targets: */
nav a,
button {
  min-width: 20px;
  min-height: 48px;
}

/* Simple and useful CSS Debugging Technique */
.debug * {
  outline: 1px solid gold;
}

i {
  display: inline-block;
}
